# Ignorowanie plików checkpoint Jupyter
.ipynb_checkpoints/

# Ignorowanie innych potencjalnie zbędnych plików
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorowanie plików i folderów systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików tymczasowych i cache
*.log
*.sqlite3
*.tmp
*.~*

# Ignorowanie danych wyjściowych
*.h5
*.parquet
*.csv~
*.xlsx~
*.json~

# Ignorowanie folderów wirtualnych środowisk
venv/
env/
*.env

# Ignorowanie plików IDE
.idea/
.vscode/
*.iml

# Ignorowanie plików wynikowych Jupyter Notebook
*.nbconvert/
